Host 10.*.*.*
    User ubuntu
    IdentityFile { path to not_your_usual_key }
    ProxyCommand ssh -q -W %h:%p  { output of bastion host } # -q
Host { output of bastion host }
    User ubuntu
    IdentityFile { path to not_your_usual_key }
    ForwardAgent yes
